* {
  padding: 0;
  margin: 0;
}
.content {
  padding: 20px;
  width: 1152px;
  margin: auto;
}
.tab-content {
  padding: 20px !important;
}
.conversion-list {
  margin-left: 15px;
  display: inline-block;
}
.stat-table th, .stat-table td {
  text-align: right !important;
}
.bold {
  font-weight: bold;
  background-color: #dedede;
}
.minus {
  color: #da0101;
}
.plus {
  color: #00a700;
}
